.im {
    font-size: large; background-color: brown;
}
h4 {
    background-color: blueviolet;
}
#rm{
    background-color: aquamarine;
}
.rt{background-color: brown;}
p{
    background-color: aqua;
}
img{
    float: left;
}